src/main/mule/craft-phone-validation-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
  xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
  
	<flow name="craft-phone-validation-apiFlow" doc:id="44ad600c-d46d-4756-be8d-7b1ee3c39f39" >
		<http:listener doc:name="Listener" doc:id="fcb29a5c-1033-429d-a2f3-5b6866adbd14" config-ref="craft-phone-validation-api-httpListenerConfig" path="/validate"/>
		<logger level="INFO" doc:name="customer phoneNo verification process started" doc:id="b79a0fee-ba61-485a-9b0a-5b149688514b" message="process started"/>
		<validation:matches-regex doc:name="phoneNo format verification" doc:id="60c72180-514e-4bb0-92ac-4d57a24684c7" config-ref="Validation_Config" value="#[attributes.queryParams.number]" regex="^[0-9]{11}$"/>
		<logger level="INFO" doc:name="Logger" doc:id="e8f5827b-e064-45fa-a8ce-2f006ac871cf" message="data_recieved"/>
    <http:request method="GET" doc:name="customer phoneNo verification with 3rd part API " doc:id="fc5a8156-689f-4a27-b5f6-5330501c91fd" config-ref="HTTP_Request_configuration" path="${http.path}">
			<http:query-params><![CDATA[#[output application/java
---
	{
  number : attributes.queryParams.number,
  access_key : p('access_key') 
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6270d69e-a0fa-4af2-a037-fbf61e65215a" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="customer phoneNo verification completed" doc:id="52b60b42-088f-4e2c-bf74-2b865885964d" message="verified"/>
		<choice doc:name="Choice" doc:id="799e35d8-b5f4-4775-959e-07e6e593a100" >
			<when expression="#[payload.valid == true]">
				<db:insert doc:name="insertValidNo" doc:id="87cfe3ff-edd6-4f00-8e14-f49a86006fff" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into  phone_verification (phoneNumber,country)
value (:phoneNumber, :country)]]></db:sql>
					<db:input-parameters ><![CDATA[#[{phoneNumber: payload.number,
	country: payload.country_name
}]]]></db:input-parameters>
				</db:insert>
			</when>
			<otherwise>
				<db:insert doc:name="insertInvalidNo" doc:id="cecabb76-668b-4d0e-b6f0-1e8f6fd7a6ef" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into invalid_number (phoneNumber,country)
value(:phoneNumber, :country)]]></db:sql>
					<db:input-parameters ><![CDATA[#[{phoneNumber: payload.number,
	country: payload.country_name
}]]]></db:input-parameters>
				</db:insert>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="fadb11d3-831d-407e-9f70-09ad5d137130" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{msg: "data inserted"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="99d3d810-b756-4132-9cfb-51e15a971856" >
				<ee:transform doc:name="Transform Message" doc:id="876f77d4-ccb3-40a0-a933-a7b59b721ee5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"msg": "invalid phone format"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
  
</flow>

</mule>
